.todo-app {
    margin: auto;
    max-width: 350px;
    padding: 25px;
    border-radius: 5px;
}

form {
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 15px;
    text-align: center;
}

.todo-item {
    display: flex;
}

.todo-item-element-hidden {
    display: none;
}

.todo-item-text-container {
    width: calc(100% - 40px);
}

.todo-item-edit-input {
    width: 100%;
}

.todo-item-status {
    margin-right: 5px;
    margin-left: 5px;
}

.todo-item-status:hover {
    cursor: pointer;
}

.todo-item-delete {
    position: absolute;
    right: 10px;

    cursor: pointer;

    outline: none;
    background: none;
    border: none;
}

.nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-color-picker {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 10px;
}

.app-color-picker input[type="color"] {
    width: 75%;
    height: 100%;
}

.app-color-picker > div {
    display: flex;
    align-items: center;
}